.background    { background: #A9CCE3;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #FF0F55; }
.wall          { background: #707B7C; }
.floater       { background: #FDFEFE; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
